<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Answers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        html {
            font-size: 20px;
        }

        body {
            padding-top: 16px;
            background: #e9f7f2;
            color: blue;
        }

        p {
            margin: 2px;
            padding: 0;
            color: black;
        }

        button {
            margin: 0px;
            padding: 0;
        }

        .list-group-item {
            padding: 3px;
            padding-left: 10px;
            font-size: 34px;
            /* Add other styles here to reduce whitespace as needed */
        }

        .container {
            max-width: 85%;
            background: white;
            padding: 4px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-left: 5px solid #34a4a9;

        }

        .hidden {
            display: none;
        }

        .row {
            display: flex;
            padding: 10px;
            padding-top: 0px;
        }

        .column {
            padding: 10px;
            padding-top: 0px;
        }

        .column:first-child {
            flex: 75%;
            /* First column taking up 75% of the row */
        }

        .column:last-child {
            flex: 25%;
            /* Second column taking up 25% of the row */
        }

        .strikethrough {
            text-decoration: line-through;
            color: grey;
        }
    </style>
    <script>
        var eventSource = new EventSource("/total_answers_stream");

        var playersList = document.getElementById("players");
        var answersList = document.getElementById("answers");

        function saveInput() {
            var inputVal = document.getElementById('lineEntry').value;
            localStorage.setItem('lineEntryValue', inputVal);
        };
        document.addEventListener('DOMContentLoaded', function () {
            var savedInput = localStorage.getItem('lineEntryValue');
            if (savedInput) {
                document.getElementById('lineEntry').value = savedInput;
            }
        });

        document.addEventListener("keyup", function (event) {
            if (event.keyCode === 32 && document.activeElement.id !== 'lineEntry') {
                document.getElementById("next").click();
            }
        });


        // var totalPlayers = document.getElementById("total_players");

        var previousTotalPlayers = localStorage.getItem('previousTotalPlayers') ? parseInt(localStorage.getItem('previousTotalPlayers'), 10) : 0;
        var previousTotalAnswers = localStorage.getItem('previousTotalAnswers') ? parseInt(localStorage.getItem('previousTotalAnswers'), 10) : 0;
        eventSource.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var currentTotalPlayers = data.total_players;
            var currentTotalAnswers = data.total_answers;
            document.getElementById('totalPlayers').innerText = currentTotalPlayers;
            document.getElementById('totalAnswers').innerText = currentTotalAnswers;
            // document.getElementById('allPlayers').innerHTML = data.all_players;

            if (currentTotalPlayers > previousTotalPlayers || currentTotalAnswers > previousTotalAnswers) {
                previousTotalPlayers = currentTotalPlayers;
                previousTotalAnswers = currentTotalAnswers;
                localStorage.setItem('previousTotalPlayers', currentTotalPlayers);
                localStorage.setItem('previousTotalAnswers', currentTotalAnswers);
                location.reload();
            }
            // else {
            //     previousTotalPlayers = currentTotalPlayers;
            //     previousTotalAnswers = currentTotalAnswers;
            //     localStorage.setItem('previousTotalPlayers', currentTotalPlayers);
            //     localStorage.setItem('previousTotalAnswers', currentTotalAnswers);
            // }


        };
        eventSource.onerror = function (e) {
            console.error("EventSource failed:", e);
        };

    </script>
</head>

<body>
    <div class="container">
        <input type="text" id="lineEntry"
            style="width: 98%; box-sizing: border-box; margin: 4px; margin-left: 10px; font-size: 30px; font-weight: bold;color: #007e85;border: 0; text-align: center;"
            placeholder="[type prompt here]" oninput="saveInput()">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex;">
                <button id="toggleLockButton" onclick="window.location.href='toggle_lock'" class="btn btn-primary mb-3"
                    style="padding: 3px; margin: 0px; margin-left: 10px;">
                    {{ 'Unlock' if lock_answers else 'Lock and Show Answers' }}
                </button>
                <button onclick=" window.location.href='clear'" class=" btn btn-danger mb-3"
                    style="padding: 3px; margin: 0px; margin-left: 10px;">
                    Clear Answers
                </button>
                <button id="next" onclick=" window.location.href='next'" class=" btn btn-info mb-3"
                    style="padding: 3px; margin: 0px; margin-left: 10px;"
                    onkeyup="if (event.keyCode === 32) { this.click(); }">
                    Next </button>
            </div>
            <p style="display: flex; align-items: center; font-weight: bold;color: #007e85;padding: 3px; margin:0px;">
                Answers:&nbsp;&nbsp; <span id="totalAnswers"> {{
                    total_answers }}</span>&nbsp;/&nbsp;<span id="totalPlayers">{{ total_players }}</span></p>
        </div>
        <div class="row">
            <div class="column">
                {% if show_answers %}
                <ul id="answersList" class="list-group">
                    {% for answer in answers %}
                    <li class="list-group-item">
                        <form action="{{ url_for('toggle_answer', answer_name=answer.answer) }}" method="POST">
                            {% if not answer.active %}
                            <span class="strikethrough" onclick="this.parentNode.submit();">{{
                                answer.answer }}</span><span onclick="this.parentNode.submit();" style="color: grey;">
                                [{{ answer.name
                                }}]</span>
                            {% else %}
                            <span onclick=" this.parentNode.submit();">{{ answer.answer }}</span>
                            {% endif %}
                        </form>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="column">
                <ul id="playersList" class="list-group">
                    {% for player in players %}
                    <li class="list-group-item d-flex align-items-center justify-content-between">
                        <form action="{{ url_for('toggle_active', player_name=player.name) }}" method="POST">
                            {% if not player.active %}
                            <span class="strikethrough" onclick="this.parentNode.submit();">{{ player.name }}</span>
                            {% elif player_turn==player.name and player.answer %}
                            <span onclick="this.parentNode.submit();" style="border: 3px solid green;">{{ player.name
                                }}</span>
                            {% elif player_turn==player.name and not player.answer %}
                            <span onclick="this.parentNode.submit();"
                                style="border: 2px solid green; color: red;">{{player.name
                                }}</span>
                            {% elif not player.answer %}
                            <span onclick="this.parentNode.submit();" style="color: red;">{{
                                player.name}}</span>
                            {% else %}
                            <span onclick="this.parentNode.submit();">{{ player.name }}</span>
                            {% endif %}
                        </form>
                        <div class="d-flex align-items-center">
                            <form action="{{ url_for('decrease_score', player_name=player.name) }}" method="POST">
                                <button type="submit" class="btn btn-sm"
                                    style="background-color: red; color: white;margin-right: 10px;">-</button>
                            </form>
                            <span class="player-score mr-2"> {{ player.score }}</span>
                            <form action="{{ url_for('increase_score', player_name=player.name) }}" method="POST">
                                <button type="submit" class="btn btn-sm"
                                    style="background-color: green; color: white;">+</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>